USE [RegProject]
GO
/****** Object:  Table [dbo].[finsupportsall]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finsupportsall](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fo2019] [decimal](15, 3) NULL,
	[fo2020] [decimal](15, 3) NULL,
	[fo2021] [decimal](15, 3) NULL,
	[fo2022] [decimal](15, 3) NULL,
	[fo2023] [decimal](15, 3) NULL,
	[fo2024] [decimal](15, 3) NULL,
	[finsource] [nvarchar](500) NULL,
	[fo_total] [decimal](15, 3) NULL,
	[finsourcecode] [nvarchar](500) NULL,
	[metaid_rp] [bigint] NULL,
 CONSTRAINT [PK_finsupportsall] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[participants]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participants](
	[metaid] [bigint] NOT NULL,
	[recordid] [bigint] NULL,
	[fio] [nvarchar](500) NULL,
	[headpost] [nvarchar](500) NULL,
	[immsupervisor] [nvarchar](500) NULL,
	[percemploy] [int] NULL,
	[roleinproj] [nvarchar](500) NULL,
	[codereestr] [nvarchar](500) NULL,
	[metaid_rp] [bigint] NULL,
 CONSTRAINT [PK_participants] PRIMARY KEY CLUSTERED 
(
	[metaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purposemonthdistribution]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purposemonthdistribution](
	[year] [smallint] NOT NULL,
	[mrk02] [decimal](15, 3) NULL,
	[mrk03] [decimal](15, 3) NULL,
	[mrk04] [decimal](15, 3) NULL,
	[mrk05] [decimal](15, 3) NULL,
	[mrk06] [decimal](15, 3) NULL,
	[mrk07] [decimal](15, 3) NULL,
	[mrk08] [decimal](15, 3) NULL,
	[mrk09] [decimal](15, 3) NULL,
	[mrk10] [decimal](15, 3) NULL,
	[mrk11] [decimal](15, 3) NULL,
	[mrk12] [decimal](15, 3) NULL,
	[mrkendyaer] [decimal](15, 3) NULL,
	[after0112] [int] NULL,
	[reasonsmo] [nvarchar](500) NULL,
	[recordid] [bigint] NOT NULL,
	[metaid_purposes] [bigint] NULL,
 CONSTRAINT [PK_purposemonthdistribution] PRIMARY KEY CLUSTERED 
(
	[recordid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purposes]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purposes](
	[metaid] [bigint] NOT NULL,
	[recordid] [bigint] NULL,
	[mrkname] [nvarchar](500) NULL,
	[code] [int] NULL,
	[description] [nvarchar](max) NULL,
	[typemrk] [nvarchar](500) NULL,
	[typevaluemrk] [nvarchar](500) NULL,
	[okeicode] [int] NULL,
	[okeiname] [nvarchar](500) NULL,
	[basicvalueind] [decimal](15, 3) NULL,
	[value2018] [decimal](15, 3) NULL,
	[value2019] [decimal](15, 3) NULL,
	[value2020] [decimal](15, 3) NULL,
	[value2021] [decimal](15, 3) NULL,
	[value2022] [decimal](15, 3) NULL,
	[value2023] [decimal](15, 3) NULL,
	[value2024] [decimal](15, 3) NULL,
	[value2025] [decimal](15, 3) NULL,
	[value2026] [decimal](15, 3) NULL,
	[value2027] [decimal](15, 3) NULL,
	[value2028] [decimal](15, 3) NULL,
	[value2029] [decimal](15, 3) NULL,
	[value2030] [decimal](15, 3) NULL,
	[dockind] [nvarchar](500) NULL,
	[approgv] [nvarchar](500) NULL,
	[approvtdatenpa] [nvarchar](500) NULL,
	[numbernpa] [nvarchar](500) NULL,
	[namenpa] [nvarchar](max) NULL,
	[sourcedata] [nvarchar](500) NULL,
	[fpmrkid] [nvarchar](500) NULL,
	[fpmrkname] [nvarchar](500) NULL,
	[tasksrecordid] [bigint] NULL,
	[taskcode] [int] NULL,
	[taskname] [nvarchar](500) NULL,
	[taskrespexec] [nvarchar](500) NULL,
	[targettype] [nvarchar](500) NULL,
	[ozrname] [nvarchar](500) NULL,
	[ozrnum] [nvarchar](500) NULL,
	[ozrbeneficiar] [nvarchar](500) NULL,
	[ozrokeicode] [nvarchar](500) NULL,
	[ozrokeiname] [nvarchar](500) NULL,
	[ozrtype] [nvarchar](500) NULL,
	[yearend] [int] NULL,
	[establishact] [int] NULL,
	[lvlmrk] [int] NULL,
	[purposemonthdistribution] [int] NULL,
	[metaid_rp] [bigint] NULL,
 CONSTRAINT [PK_purposes] PRIMARY KEY CLUSTERED 
(
	[metaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegProjectTable]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegProjectTable](
	[metaid] [bigint] NOT NULL,
	[recordid] [bigint] NOT NULL,
	[code] [nvarchar](500) NULL,
	[fullname] [nvarchar](500) NULL,
	[shortname] [nvarchar](500) NULL,
	[idfp] [smallint] NULL,
	[fpcode] [nvarchar](500) NULL,
	[fpname] [nvarchar](500) NULL,
	[curator] [nvarchar](500) NULL,
	[person] [nvarchar](500) NULL,
	[kvsr] [nvarchar](500) NULL,
	[actualversion] [nvarchar](500) NULL,
	[subject] [int] NULL,
	[roiv] [bigint] NULL,
	[purposes] [int] NULL,
	[tasks] [int] NULL,
	[participants] [int] NULL,
	[finsupportsall] [int] NULL,
 CONSTRAINT [PK_RegProject] PRIMARY KEY CLUSTERED 
(
	[metaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[metaid] [bigint] NOT NULL,
	[recordid] [bigint] NULL,
	[code] [int] NULL,
	[name] [nvarchar](max) NULL,
	[basicvalue] [nvarchar](500) NULL,
	[monetary_result] [int] NULL,
	[fpresult] [nvarchar](500) NULL,
	[respexec] [nvarchar](500) NULL,
	[orgrespexec] [nvarchar](500) NULL,
	[numbercharact] [nvarchar](max) NULL,
	[typeres] [nvarchar](500) NULL,
	[kindres] [nvarchar](500) NULL,
	[realizemo] [int] NULL,
	[notsubjfund] [int] NULL,
	[subjfund] [int] NULL,
	[iskey] [nvarchar](500) NULL,
	[okeicode] [smallint] NULL,
	[okeiname] [nvarchar](500) NULL,
	[sourcedata] [nvarchar](500) NULL,
	[cumulative] [int] NULL,
	[cbaccumulationtype] [nvarchar](500) NULL,
	[typevaluemrk] [nvarchar](500) NULL,
	[costwaycode] [nvarchar](500) NULL,
	[directionexpenses] [nvarchar](500) NULL,
	[direxpcoderesf] [nvarchar](500) NULL,
	[direxpnameresf] [nvarchar](500) NULL,
	[executpost] [nvarchar](500) NULL,
	[metaid_task] [bigint] NULL,
 CONSTRAINT [PK_results] PRIMARY KEY CLUSTERED 
(
	[metaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roiv]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roiv](
	[recordid] [bigint] NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_roiv] PRIMARY KEY CLUSTERED 
(
	[recordid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[recordid] [int] NOT NULL,
	[code] [int] NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[recordid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[metaid] [bigint] NOT NULL,
	[recordid] [bigint] NULL,
	[name] [nvarchar](500) NULL,
	[code] [int] NULL,
	[nprecordid] [nvarchar](500) NULL,
	[targettype] [nvarchar](500) NULL,
	[ozrrecordid] [nvarchar](500) NULL,
	[ozrname] [nvarchar](500) NULL,
	[ozrnum] [nvarchar](500) NULL,
	[ozrbeneficiar] [nvarchar](500) NULL,
	[ozrokeicode] [nvarchar](500) NULL,
	[ozrokeiname] [nvarchar](500) NULL,
	[ozrtype] [nvarchar](500) NULL,
	[result] [bigint] NULL,
	[metaid_rp] [bigint] NULL,
 CONSTRAINT [PK_tasks] PRIMARY KEY CLUSTERED 
(
	[metaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23.06.2023 3:35:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[finsupportsall] ON 

INSERT [dbo].[finsupportsall] ([id], [fo2019], [fo2020], [fo2021], [fo2022], [fo2023], [fo2024], [finsource], [fo_total], [finsourcecode], [metaid_rp]) VALUES (279, CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), N'межбюджетные трансферты из федерального 
бюджета (справочно)', CAST(0.000 AS Decimal(15, 3)), N'100', 8216755453)
INSERT [dbo].[finsupportsall] ([id], [fo2019], [fo2020], [fo2021], [fo2022], [fo2023], [fo2024], [finsource], [fo_total], [finsourcecode], [metaid_rp]) VALUES (280, CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), N'межбюджетные трансферты из ГВБФ 
(справочно)', CAST(0.000 AS Decimal(15, 3)), N'200', 8216755453)
INSERT [dbo].[finsupportsall] ([id], [fo2019], [fo2020], [fo2021], [fo2022], [fo2023], [fo2024], [finsource], [fo_total], [finsourcecode], [metaid_rp]) VALUES (281, CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), CAST(0.000 AS Decimal(15, 3)), N'Сумма соглашений (справочно)', CAST(0.000 AS Decimal(15, 3)), N'201', 8216755453)
GO
SET IDENTITY_INSERT [dbo].[finsupportsall] OFF
GO
INSERT [dbo].[participants] ([metaid], [recordid], [fio], [headpost], [immsupervisor], [percemploy], [roleinproj], [codereestr], [metaid_rp]) VALUES (8216760679, 8216760679, N'Малин Михаил Васильевич', N'Министр здравоохранения Кузбасса', N'Цигельник Алексей Маркович', 3, N'Руководитель проекта', N'32200033', 8216750935)
INSERT [dbo].[participants] ([metaid], [recordid], [fio], [headpost], [immsupervisor], [percemploy], [roleinproj], [codereestr], [metaid_rp]) VALUES (8216787200, 8216787200, N'Малышева Елена Ивановна', N'Заместитель Губернатора Кемеровской области (по вопросам социального развития)', N'Цигельник Алексей Маркович', 10, N'Куратор', N'320000BP', 8216750935)
INSERT [dbo].[participants] ([metaid], [recordid], [fio], [headpost], [immsupervisor], [percemploy], [roleinproj], [codereestr], [metaid_rp]) VALUES (8216787201, 8216787201, N'Уфимцев Олег Борисович', N'Заместитель министра здравоохранения Кузбасса', N'Беглов Дмитрий Евгеньевич', 40, N'Администратор', N'32200033', 8216750935)
GO
INSERT [dbo].[roiv] ([recordid], [name]) VALUES (18758, N'МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ КУЗБАССА')
INSERT [dbo].[roiv] ([recordid], [name]) VALUES (18881, N'МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ АЛТАЙСКОГО КРАЯ')
INSERT [dbo].[roiv] ([recordid], [name]) VALUES (19418, N'МИНИСТЕРСТВО ТРУДА, ЗАНЯТОСТИ И СОЦИАЛЬНОГО РАЗВИТИЯ АРХАНГЕЛЬСКОЙ ОБЛАСТИ')
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[subject] ([recordid], [code], [name]) VALUES (26, 6, N'Республика Ингушетия')
INSERT [dbo].[subject] ([recordid], [code], [name]) VALUES (41, 21, N'Чувашская Республика - Чувашия')
INSERT [dbo].[subject] ([recordid], [code], [name]) VALUES (42, 22, N'Алтайский край')
GO
INSERT [dbo].[tasks] ([metaid], [recordid], [name], [code], [nprecordid], [targettype], [ozrrecordid], [ozrname], [ozrnum], [ozrbeneficiar], [ozrokeicode], [ozrokeiname], [ozrtype], [result], [metaid_rp]) VALUES (8543254032, 8543254032, N'Увеличена доля граждан, ведущих здоровый образ жизни', 4, N'', N'ОЗР', N'8488487321', N'Увеличена доля граждан, ведущих здоровый образ жизни', N'13', N'Граждане', N'', N'', N'ОЗР', NULL, 8216755454)
INSERT [dbo].[tasks] ([metaid], [recordid], [name], [code], [nprecordid], [targettype], [ozrrecordid], [ozrname], [ozrnum], [ozrbeneficiar], [ozrokeicode], [ozrokeiname], [ozrtype], [result], [metaid_rp]) VALUES (8543254048, 8543254048, N'Формирование системы мотивации граждан к здоровому образу жизни, включая здоровое питание и отказ от вредных привычек ', 10, N'', N'Задача', N'', N'', N'', N'', N'', N'', N'', NULL, 8216755454)
INSERT [dbo].[tasks] ([metaid], [recordid], [name], [code], [nprecordid], [targettype], [ozrrecordid], [ozrname], [ozrnum], [ozrbeneficiar], [ozrokeicode], [ozrokeiname], [ozrtype], [result], [metaid_rp]) VALUES (8546214994, 8546214994, N'Ликвидация кадрового дефицита в медицинских организациях, оказывающих первичную медико-санитарную помощь ', 4, N'', N'Задача', N'', N'', N'', N'', N'', N'', N'', NULL, 8216750935)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [password], [role_id]) VALUES (1, N'user', N'123', 2)
INSERT [dbo].[users] ([id], [name], [password], [role_id]) VALUES (2, N'admin', N'123', 1)
INSERT [dbo].[users] ([id], [name], [password], [role_id]) VALUES (3, N'Nikita', N'poz', 2)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[finsupportsall]  WITH CHECK ADD  CONSTRAINT [FK_finsupportsall_RegProject] FOREIGN KEY([metaid_rp])
REFERENCES [dbo].[RegProjectTable] ([metaid])
GO
ALTER TABLE [dbo].[finsupportsall] CHECK CONSTRAINT [FK_finsupportsall_RegProject]
GO
ALTER TABLE [dbo].[participants]  WITH CHECK ADD  CONSTRAINT [FK_participants_RegProject] FOREIGN KEY([metaid_rp])
REFERENCES [dbo].[RegProjectTable] ([metaid])
GO
ALTER TABLE [dbo].[participants] CHECK CONSTRAINT [FK_participants_RegProject]
GO
ALTER TABLE [dbo].[purposemonthdistribution]  WITH CHECK ADD  CONSTRAINT [FK_purposemonthdistribution_purposes] FOREIGN KEY([metaid_purposes])
REFERENCES [dbo].[purposes] ([metaid])
GO
ALTER TABLE [dbo].[purposemonthdistribution] CHECK CONSTRAINT [FK_purposemonthdistribution_purposes]
GO
ALTER TABLE [dbo].[purposes]  WITH CHECK ADD  CONSTRAINT [FK_purposes_RegProject] FOREIGN KEY([metaid_rp])
REFERENCES [dbo].[RegProjectTable] ([metaid])
GO
ALTER TABLE [dbo].[purposes] CHECK CONSTRAINT [FK_purposes_RegProject]
GO
ALTER TABLE [dbo].[RegProjectTable]  WITH CHECK ADD  CONSTRAINT [FK_RegProject_subject] FOREIGN KEY([subject])
REFERENCES [dbo].[subject] ([recordid])
GO
ALTER TABLE [dbo].[RegProjectTable] CHECK CONSTRAINT [FK_RegProject_subject]
GO
ALTER TABLE [dbo].[RegProjectTable]  WITH CHECK ADD  CONSTRAINT [FK_RegProjectTable_roiv] FOREIGN KEY([roiv])
REFERENCES [dbo].[roiv] ([recordid])
GO
ALTER TABLE [dbo].[RegProjectTable] CHECK CONSTRAINT [FK_RegProjectTable_roiv]
GO
ALTER TABLE [dbo].[results]  WITH CHECK ADD  CONSTRAINT [FK_results_tasks] FOREIGN KEY([metaid_task])
REFERENCES [dbo].[tasks] ([metaid])
GO
ALTER TABLE [dbo].[results] CHECK CONSTRAINT [FK_results_tasks]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_RegProject] FOREIGN KEY([metaid_rp])
REFERENCES [dbo].[RegProjectTable] ([metaid])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_RegProject]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
